@import "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css";

body {
  margin: 0;
}

header {
  background-color: #eee;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 35px;
}

.pages {
  margin-top: 20px;
}

.users,
.pages {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.users div {
  margin-top: 30px;
}
